{% extends 'account/base.html' %}
{% load static %}

{% block content %}
<div class="profile-card">
    <h2>{{ profile.user.username }}'s Profile</h2>
    <p>Bio: {{ profile.bio }}</p>
    {% if profile.profile_picture %}
        <img id="image" src="{{ profile.profile_picture.url }}" height=100px alt="Profile Picture" width="150"><br>
    {% else %}
        <img src="{% static 'profile_pictures/default_profile_image.png' %}" alt="Default Profile Image"><br>
    {% endif %}
    <a href="{% url 'account:profile_update' %}">Update Profile</a> <a href="/">Back</a>
<div>

{% endblock %}