{% extends 'resources/base.html' %}

{% block content %}
<div class="container my-5">
    <a href="{% url 'resources:add_project' %}">Add</a>
    <h1 class="text-center mb-4">Student Projects</h1>
    <p class="text-center">Showcasing creativity and innovation by students.</p>
    <div class="row">
        {% for project in projects %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ project.name }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    <a href="{{ project.github_link }}" class="btn btn-success" target="_blank">View on GitHub</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
