{% extends 'resources/base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Explore Topics</h1>
    <div class="row">
        {% for topic in topics %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ topic.title }}</h5>
                    <p class="card-text">{{ topic.description }}</p>
                    <a href="{% url 'resources:topic_detail' topic.pk %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
